Flask==2.0.1
flask-cors
opencv-python-headless==4.5.5.62
torch==2.2.1  # Specify the version if possible to avoid compatibility issues
torchvision==0.17.1  # As required by your YOLO version, if applicable

